/* ALL animations go here */




/* -------------------------------Mountain Anime ---------- */


#scenery .mountain-1{
    -webkit-animation: mount-1 4s; 
    animation: mount-1 4s;
}
#scenery .mountain-2{
    -webkit-animation: mount-2 4s; 
    animation:  mount-2 4s;
}
#scenery .mountain-3{
    -webkit-animation: mount-3 4s; 
    animation:  mount-3 4s;
}
@-webkit-keyframes test {
    0%   { left:-970px; }
    
    100% { left:-275px; }
}


@keyframes mount-1 {
     0%   { left:-970px; }
    
    100% { left:-275px; }
}

@-webkit-keyframes mount-1 {
    0%   { left:1348px; }
    
    100% { left:648px; }
}


@keyframes mount-3 {
     0%   { left:1348px; }
    
    100% { left:648px; }
}

@-webkit-keyframes mount-2 {
    0%   { left:1348px; }
    
    100% { left:299px; }
}


@keyframes mount-2{
    0%   { left:1348px; }
    
    100% { left:299px; }
}


/* -------------------------------Tree Anime ---------- */
.tree-1{
      -webkit-animation: tree 3s; /* Chrome, Safari, Opera */
    animation: tree 3s;
}
.tree-2{
      -webkit-animation: tree 3.25s; /* Chrome, Safari, Opera */
    animation: tree 3.25s;
}
.tree-3{
      -webkit-animation: tree 3.5s; /* Chrome, Safari, Opera */
    animation: tree 3.5s;
}
.tree-4{
      -webkit-animation: tree 3.85s; /* Chrome, Safari, Opera */
    animation: tree 3.85s;
}

@keyframes tree{
    0%   { opacity: 0;}
   90%   { opacity: 0;}
    100%  { opacity: 1;}
    
}
@-webkit-@keyframes tree{
    0%   { opacity: 0;}
   90%   { opacity: 0;}
    100%  { opacity: 1;}
    
}

/* ------------------------------- Bus stop and Title signs ---------- */
#scenery .busstop-sign {

    opacity: 0;
    -webkit-animation: spsign 0.1s; 
    animation: spsign 0.1s;
    animation-delay :6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay :6s;
    -webkit-animation-fill-mode: forwards;
}

#scenery .sp-sign{
    perspective: 1000px;
   
    opacity: 0;
    -webkit-animation: spsign 0.1s; 
    animation: spsign 0.1s;
    animation-delay :6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay :6s;
    -webkit-animation-fill-mode: forwards;
  
}

@keyframes spsign{
    0%   { opacity: 1;top:120px;}
  
    100%  { opacity: 1;top:430px;}
    
}
@-webkit-keyframes spsign{
    0%   { opacity: 1;top:120px;}
  
    100%  { opacity: 1;top:430px;}
    
}

/* ------------------------------- Blinking ---------- */


 .head .left-eye .eyelid-top
{
    
    -webkit-animation-name: eyelidtop;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: eyelidtop;
    animation-duration: 5s;
    animation-timing-function: linear;
    
    animation-iteration-count: infinite;
    animation-play-state: running;
}

 .head .left-eye .eyelid-bottom
{
    -webkit-animation-name: eyelidbottom;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: eyelidbottom;
    animation-duration: 5s;
    animation-timing-function: linear;
    
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.head .right-eye .eyelid-top
{
    
    -webkit-animation-name: eyelidtop;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: eyelidtop;
    animation-duration: 5s;
    animation-timing-function: linear;
    
    animation-iteration-count: infinite;
    animation-play-state: running;
}

 .head .right-eye .eyelid-bottom
{
    -webkit-animation-name: eyelidbottom;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: eyelidbottom;
    animation-duration: 5s;
    animation-timing-function: linear;
    
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@-webkit-keyframes eyelidtop
{
0% {top: -21px;}
2% {top: 0px;}
4% {top: -21px;}
100% {top: -21px;}
}


@keyframes eyelidtop
{
0% {top: -21px;}
2% {top: 0px;}
4% {top: -21px;}
100% {top: -21px;}
}

@-webkit-keyframes eyelidbottom
{
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}


@keyframes eyelidbottom
{
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}

/* -------------------------------Kyre ---------- */

#kyre
{
    position: relative;
   left: 600px;
    
    
    animation:stan-walk 4.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:stan-walk 4.5s;
    -webkit-animation-fill-mode: forwards;
}

#kyre .leg-wrap {

    animation:cartman-leg 4.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:cartman-leg 4.5s;
    -webkit-animation-fill-mode: forwards;
}

#kyre .head .left-eye .eyelid-top ,#kyre .head .right-eye .eyelid-top {
    
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

#kyre .head .left-eye .eyelid-bottom ,#kyre .head .right-eye .eyelid-bottom {

    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

/* -------------------------------Cartman ---------- */


#cartman
{
    position: relative;
   z-index: 3;
    left: -650px;
    
    top: 250px;
    margin: 0 auto;
    
     animation:cartman-walk 5.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:cartman-walk 5.5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes cartman-walk {

    0% {left :-550px;}
    10% {left :-500px;}
    20%{ left :-450px;}
    30%{ left :-400px;}
    40%{ left :-350px;}
    50%{ left :-300px;}
    60% {left :-250;}
    70% {left :-200;}
    80% {left :-150;}
    90% {left :-100;}
    100% {top:-140px;left:-50px;}

}

@-webkit-keyframes cartman-walk {

    0% {left :-550px;}
    10% {left :-500px;}
    20%{ left :-450px;}
    30%{ left :-400px;}
    40%{ left :-350px;}
    50%{ left :-300px;}
    60% {left :-250;}
    70% {left :-200;}
    80% {left :-150;}
    90% {left :-100;}
    100% {top:-160px;left:-50px;}

}


#cartman .legs {

    animation:cartman-leg 4.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:cartman-leg 4.5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes cartman-leg {

    0% {transform: rotate(1deg);}
    10% {transform: rotate(-1deg);}
     20% {transform: rotate(1deg);}
    30% {transform: rotate(-1deg);}
    40% {transform: rotate(1deg);}
    50% {transform: rotate(-1deg);}

     60% {transform: rotate(1deg);}
    70% {transform: rotate(-1deg);}
     60% {transform: rotate(1deg);}
    70% {transform: rotate(-1deg);}
     80% {transform: rotate(1deg);}
    90% {transform: rotate(-1deg);}
    100% {}

}

@-webkit-keyframes cartman-leg {

    0% {transform: rotate(1deg);}
    10% {transform: rotate(-1deg);}
     20% {transform: rotate(1deg);}
    30% {transform: rotate(-1deg);}
    40% {transform: rotate(1deg);}
    50% {transform: rotate(-1deg);}

     60% {transform: rotate(1deg);}
    70% {transform: rotate(-1deg);}
     60% {transform: rotate(1deg);}
    70% {transform: rotate(-1deg);}
     80% {transform: rotate(1deg);}
    90% {transform: rotate(-1deg);}
    100% {}

}

#cartman .head .left-eye .eyelid-top ,#cartman .head .right-eye .eyelid-top {
    
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#cartman .head .left-eye .eyelid-bottom ,#cartman .head .right-eye .eyelid-bottom {

    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


 
/* ------------------------------- Stan ---------- */
#stan
{
    position: relative;
    left: -100px;
    top: 400px;
    animation:stan-walk 4.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:stan-walk 4.5s;
    -webkit-animation-fill-mode: forwards;
    
        
}

@keyframes stan-walk {

    0% {top:150px;}
    10% {top:100px;}
    20%{ top:50px;}
    30%{ top:0px;}
    40%{ top:-50px;}
    50%{ top:-80px;}
    60% {top: -100px;}
    70% {top:-125px;}
    90% {top:-135px;}
    100% {top:-150px;left:0;}

}

@-webkit-keyframes stan-walk {

    
    0% {top:150px;}
    10% {top:100px;}
    20%{ top:50px;}
    30%{ top:0px;}
    40%{ top:-50px;}
    50%{ top:-80px;}
    60% {top: -100px;}
    70% {top:-125px;}
    90% {top:-135px;}
    100% {top:-150px;left:0;}s

}

#stan .leg-wrap {

    animation:cartman-leg 4.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:cartman-leg 4.5s;
    -webkit-animation-fill-mode: forwards;
}

#stan .head .left-eye .eyelid-top ,#stan .head .right-eye .eyelid-top {
    
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

#stan .head .left-eye .eyelid-bottom ,#stan .head .right-eye .eyelid-bottom {

    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/* ------------------------------- Kenny ---------- */
#kenny
{
    position: relative;
   
    left: 100px;
    top: 400px;
    animation:stan-walk 5.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:stan-walk 5.5s;
    -webkit-animation-fill-mode: forwards;
}

#kenny .leg-wrap {

    animation:cartman-leg 4.5s;
     animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
   -webkit-animation:cartman-leg 4.5s;
    -webkit-animation-fill-mode: forwards;
}
